{% extends 'task_manager/layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}
     <main role="main" class="inner cover my-5 mx-auto text-center" style="color: white; width: 50%;">
        {% include 'messages.html' %}
        <h1 class="cover-heading">Это менеджер задач.</h1>
        <p class="lead">Авторизованные пользователи могут управлять задачами, статусами, метками (просмотр, создание, редактирование, удаление). Неавторизованные пользователи могут просматривать только список зарегестрированных пользователей.</p>
        {% if not user.is_authenticated %}
        <p class="lead">Первый раз на сайте? Пройдите форму регистрации:</p>
        <p class="lead">
          <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Регистрация</a>
        </p>
        {% endif %}
      </main>
{% endblock %}
