<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Nikita">
        <meta name="description" content="test_page">
        <title>Tag from</title>
    </head>
    <body>
        <div class="features">
            <h1>Форма для создания метки</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.name }}<br>
                <span>{{ error }}</span>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </body>
</html>
