{% extends 'task_manager/layout.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="jumbotron bg-dark my-4 py-4">
    <div class="container">
      <h2 class="display-5">Filter tasks</h2>
      <form class="form" method="get">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="assigned_to">Assigned to</label>
            <select class="form-control" id="assigned_to" name="assigned_to">
              {% for assignee in filter.form.assigned_to %}
                {{ assignee }}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status">
              {% for st in filter.form.status %}
                {{ st }}
              {% endfor %}
            </select>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
  <h1 class="my-4 text-center" style="color: white">Задачи</h1>
	<table class="table mx-auto my-5 table-bordered table-hover table-dark" style="width: 55%;">
	    <thead>
		<tr>
		    <th>ID</th>
		    <th>Имя</th>
		    <th>Статус</th>
		    <th>Исполнитель</th>
		    <th></th>
		</tr>
	    </thead>
	    
	    <tbody>
		{% for task in filter.qs %}
		<tr>
		    <td>{{ task.id }}</td>
		    <td>{{ task.name }}</td>
		    <td>{{ task.status }}</td>
		    <td>{{ task.assigned_to }}</td>
		    <td>
		        <a href="{% url 'update_task' task.id %}"><button class="btn btn-info btn-sm">Изменить</button></a>
		        <a href="{% url 'delete_task' task.id %}"><button class="btn btn-danger btn-sm">Удалить</button></a><br>
		    </td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
	<a href="{% url 'create_task' %}"><button>Добавить статус</button></a>
	  </ul>   
{% endblock %}







